<!--<html>
<h2>Name : {{ taskerpro.t_name}}</h2>
phone_no :{{taskerpro.t_phone_no}}<br>
Email    :{{taskerpro.t_email}}
<br><br>
<button>Do Service</button>-->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<style>
 .abc{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0093c4;
}

.abcd {
    float: left;
}

.abcd a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.myownimage{
	height:300px;
	width:300px;
}

li a:hover {
    background-color: #111;
}
</style>
	<title>Profile</title>
	<meta charset="UTF-8">
	<link href="img/favicon.ico" rel="shortcut icon"/>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">
	<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'/>
	<link rel="stylesheet" href='{% static "css/style.css" %}'/>
</head>
<body>
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<div class="abc">
  <div class="abcd"><a href="/profile_tasker/">profile</a></div>
  <div class="abcd"><a href="/myList/">My List</a></div>
  <div class="abcd" style="float:right"><a href="/logout/">logout</a></div>
</div>
	<section class="hero-section spad">
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">
						<div class="col-lg-6">
							<div class="hero-text">
								<h2>{{ tasker1.t_name}}</h2>
							</div>
							<div class="hero-info">
								<h2>General Info</h2>
								<img src='/{{tasker1.t_photo }}'/ class = "myownimage"><br><br>
								<ul>
									<li><span>Address : </span>{{tasker1.t_location}}</li>
									<li><span>E-mail : </span>{{tasker1.t_email}}</li>
									<li><span>Phone : </span>+91 {{tasker1.t_phone_no}}</li>
								</ul>
								</div>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<input type="hidden" name="customerinfo" value="{{cust.c_name}}">
	<script src='{% static "js/jquery-3.3.1.min.js" %}'></script>
	<script src='{% static "main.js" %}'></script>
	</body>
</html>
